

body{
    margin-top: 10px;
    background-image: linear-gradient(to right top, #304c89, #12639c, #0079aa, #008eb3, #00a3b9, #2db2b7, #51c0b3, #73cdae, #9fd8ae, #c4e2b5, #e4ecc2, #fff7d6);
    font-family: Arial, Helvetica, sans-serif;
}





nav {
    width:auto;
    height:auto;
    position:relative;
    border:solid 1px black;
    margin:25px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-image: linear-gradient(to right top, #648de5, #408dd7, #1f8ac6, #0e86b2, #1c819e);
  }
  
  ul {
    list-style-type:none;
  }
  
  li {
    width:auto;
    margin:0 25px;

  }

  ul {
    display:inline-flex;
    justify-content:flex-end;
  }

  .logo{
    height: 100px;
    width: 100px;
  }


  .MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 700px;
    width: 70%;
    border: 1px solid #000;
    background-color:  #191c29;
    margin-left: auto; 
  margin-right: auto;
  
  color: white;
  border-radius: 5px;
  }


  .Flag{
    height: 130px;
    width: 200px;
    position: relative;
    top:50%;
  }


  .formContent{
    position: relative;
    top : 30%;
  }

  .NextQuestion{
    position: relative;
    top : 40%;
  }

  table, td, th {
    border: 1px solid #333;
    text-align: center;
    }
    thead, tfoot {
    background-color: #333;
    color: #fff;
    text-align: center;
    }



.ResultatTab{
    position: relative;
    top : 10%;
}

.presentation{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: auto;
/* border: 1px solid black; */
}


#rocket, #trophy{
  height: 50px;
  width: 50px;
}




h1, h3,h2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}


.blank{
  position: absolute;
  height: 150px;

}


.buttton{
            
  height: 40px;
  width: 150px;
  display:  flex;
  justify-content: center;
  align-items: center;
}

.linkPage{
  color: black;
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

}

.buttton:hover{
  background-color: #191c29;
  border-radius: 5px;
  color: white;
  transition: 0.5s ease-in-out;
  text-decoration-color: white;
 
}

.linkPage:hover{
  color: white;
  
}


footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:auto;

  margin-top: 10px;
border:solid 2px black;



background-image: linear-gradient(to right top, #648de5, #408dd7, #1f8ac6, #0e86b2, #1c819e);

}

.footertext{
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
}

